* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1{
    height: 800px;
    width: 400px;
    background-image: url(https://img.freepik.com/free-vector/matrix-style-binary-code-digital-background-with-falling-numbers_1017-25336.jpg?w=1380&t=st=1705491730~exp=1705492330~hmac=8f331dd23ea552867ce586cfa0edf9f82b6c98229fb8f861aa174b122bc0e491);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2{
    height: 360px;
    width: 350px;
    border: 4px solid #48ee59;
    background-color: #00000080;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-family: Bree Serif;
    padding-left: 40px;
    padding-right: 30px;
}