.div1{
    height: 920px;
    width: 400px;
    border: 2px solid #707070 ;

}

.div2{
    height: 290px;
    width: 400px;
    /* border: 1px solid black; */
    background-image: url(./Assests/poco\ f5\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div3{
    height: 630px;
    width: 400px;
    /* border: 2px solid black; */
    color: #0a1f44;
    font-size: 20px;
}

h2, ul{
    margin-left: 20px;
}

button{
    height: 42px;
    width: 90px;
    background-color: rgb(5, 144, 250);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin-left: 150px;
}
